<!-- for dynamic value change -->
 {{view}}

<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>

<!-- <app-rooms-list [rooms]="roomlist" [title]="title"
(selectedRoom)="selectRoom($event)"></app-rooms-list> -->
                             <!-- here i alice the rooms$ to rooms  -->
<div *ngIf="rooms$ | async  as rooms">
    <app-rooms-list [rooms]="rooms" [title]="title"
(selectedRoom)="selectRoom($event)"></app-rooms-list>
</div>


<button (click)="addRoom()">Add Room</button>

<!-- used to understand ngonchanges, by click this button this will changes the value of title -->
<button (click)="onToggle()">Toggle</button>
<button (click)="editRoom()">Edit Room</button>